
html {
  font-family:"Courier", Times, serif;
  line-height: 1.15; 
  -ms-text-size-adjust: 100%; 
  -webkit-text-size-adjust: 100%; 
}

body {
  margin: 10;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2, h3, h4, h5 {
    font-weight: bold;
    margin: 0;
    padding: 0;
}

ul {
    margin-left:15px;
    margin-top: 5px;
    padding: 0;
}

li {
    margin: 0;
    padding: 5px;
}

.passed {
    font-size: 0.8em;
    background-color: forestgreen;
}

.failed {
    font-size: 0.8em;
    background-color: red;
}

.ignored {
    font-size: 0.8em;
    background-color: yellow;
}

summary {
    font-weight: bold;
}

details {
    padding: 0.1em;
}

.invocation-item {    
    font-size: 0.7em;
}

.fixture-results {
    font-size: 0.7em;
    
}

.invocation-title {
    text-decoration: underline;
}